.modal {
  position: relative;
  width: 1004px;
  height: 720px;
  overflow: hidden;
  border-radius: 20px;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
.modal:where(dialog) {
  border: none;
  padding: 0;
}
