.modal {
  position: relative;
  width: fit-content;
  height: fit-content;
  min-width: 300px;
  max-width: 90%;
  min-height: 300px;
  max-height: 90%;
  overflow: hidden;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
.modal:where(dialog) {
  border: none;
  padding: 0;
}
