.wrapper {
  width: fit-content;
  height: fit-content;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--chip-background);
  border-radius: 100px;
}
