@import-normalize;

:root {
  /* colors */
  --main-color: #101828;
  --secondary-color: #475467;
  --form-label-color: rgba(16, 24, 40, 0.6);
  --action-color: #e44848;
  --action-hover-color: #d84343;
  --accent-color: #ffc531;
  --borders-color: rgba(16, 24, 40, 0.20);
  --main-background: #ffffff;
  --chip-background: #f2f4f7;
  --form-background: #f7f7f7;
  --shadow-background: rgba(0, 0, 0, 0.3);

  /* fonts */
  --main-font-family: Inter, sans-serif;
  --main-size: 16px;
  --medium-size: 18px;
  --subtitle: 20px;
  --title: 24px;
  --main-line-height: 1.5;
  --medium-line-height: 1.33;
  --subtitle-line-height: 1.2;
  --title-line-height: 1.25;

  /* transition */
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-delay: 250ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-background);
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
